<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="coupon">
      <h2 data-cy="couponDetailsHeading"><span jhiTranslate="jhMonoApp.coupon.detail.title">Coupon</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ coupon.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhMonoApp.coupon.couponId">Coupon Id</span></dt>
        <dd>
          <span>{{ coupon.couponId }}</span>
        </dd>
        <dt><span jhiTranslate="jhMonoApp.coupon.offRate">Off Rate</span></dt>
        <dd>
          <span>{{ coupon.offRate }}</span>
        </dd>
        <dt><span jhiTranslate="jhMonoApp.coupon.order">Order</span></dt>
        <dd>
          <div *ngIf="coupon.order">
            <a [routerLink]="['/order', coupon.order?.id, 'view']">{{ coupon.order?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/coupon', coupon.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
