<div>
  <h2 id="page-heading" data-cy="CouponHeading">
    <span jhiTranslate="jhMonoApp.coupon.home.title">Coupons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhMonoApp.coupon.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coupon"
        [routerLink]="['/coupon/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhMonoApp.coupon.home.createLabel"> Create a new Coupon </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coupons?.length === 0">
    <span jhiTranslate="jhMonoApp.coupon.home.notFound">No coupons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coupons && coupons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhMonoApp.coupon.couponId">Coupon Id</span></th>
          <th scope="col"><span jhiTranslate="jhMonoApp.coupon.offRate">Off Rate</span></th>
          <th scope="col"><span jhiTranslate="jhMonoApp.coupon.order">Order</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of coupons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coupon', coupon.id, 'view']">{{ coupon.id }}</a>
          </td>
          <td>{{ coupon.couponId }}</td>
          <td>{{ coupon.offRate }}</td>
          <td>
            <div *ngIf="coupon.order">
              <a [routerLink]="['/order', coupon.order?.id, 'view']">{{ coupon.order?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/coupon', coupon.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/coupon', coupon.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coupon)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
